@tailwind base;
@tailwind components;

@layer components {
  input,
  textarea {
    @apply dark:bg-gray-500 bg-slate-200 rounded-lg p-2 text-gray-400 dark:text-gray-300 shadow
  }
  .btn-primary {
    @apply bg-blue-500 text-white rounded-sm p-2 hover:bg-blue-400 transition-all duration-200 !important
  }
}

@tailwind utilities;

@layer utilities {
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.scrollbar ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar ::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #676a6d;
}

.scrollbar ::-webkit-scrollbar-thumb {
  background: #40444B;
  border-radius: 100vh;
}

.scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #2c2d32;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


